p,button{
    font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;

}

button{
    border-radius: 2px;
    padding: 5px;
}

body{
    height: 100vh;
    width: 100vw;
    position: absolute;
    top:0;
    left: 0;
    overflow: hidden;
}

.main-img{
    height: inherit;
    width:inherit;
    overflow:hidden;
}

.profile-picture-container{
    height: 150px; 
    width: 150px;
    border-radius: 100%;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 0px 5px;
}

.text-little_gray{
    color: rgb(39, 37, 49);
}

.text-size-large{
    font-size: 60px;
}

.text-size-normal{
    font-size: 25px;
}

.btu{
    border-radius: 2px;
    padding: 5px;
}

.large-btu-bg{
    background-color: rgb(135, 171, 212);
}   

.little-btu-bg{
    background-color: rgb(210, 220, 233);
}

.bg-red{
    background-color: red; 
}

.bg-green{
    background-color: green;
}


.subtitle{
    font-weight: 700;
    opacity: 0.6;
}

.w-full{
    width: 100%;
}

.w-80{
    width: 80%;
}

.w-60{
    width: 60%;
}

.w-50{
    width: 50%;
}

.w-40{
    width: 40%;
}

.w-33{
    width: 33%;
}

.w-20{
    width: 20%;
}

.g-10{
    gap: 10px;
}

.g-15{
    gap: 15px;
}

.g-20{
    gap:20px;

}

.g-40{
    gap: 40px;
}

.l-150{
    left: 150vw !important;
}

.align-items-center{
    align-items:center;
}

.main-interface{
    width: 500px;
    border-width: 2px;
    border-radius: 0.25rem;
    box-shadow: 0 1px 2px 0 rgb(0 0 0 / 0.05);
    background-color: rgb(249 250 251 / 1);
    transition-property: left;
    transition-duration: 500ms;
}

.interface-selecter{
    width: 100vw;
    height: 75px;
    padding: 10px 20px !important;
    border-width: 2px;
    box-shadow: 0 0px 2px 0 rgb(0 0 0 / 0.05);
    background-color: rgb(249 250 251 / 1);
    
}

.problem-status{
    width: 20px;
    height:20px; 
    border-radius: 10px;
}

.problem-container{
    border:2px black solid;
    padding: 10px;
    border-radius: 20px; 
    height: 100px;
}

.page_container{
    display: flex;
    gap: 15px;
    justify-content: center;
}

.page_showing{
    width: 27px;
    height: 27px;
    text-align:center;
}

.page_now_showing{
    border: 2px gray solid;
    border-radius: 5px;
}

.problem-list{
    height: 600px;
    justify-content: space-between;
}

.select{
    font-weight: bolder ;
    border-bottom-style: solid;
    border-bottom-width:medium;
    border-bottom-left-radius: 1.5px;
    border-bottom-right-radius: 1.5px;
    border-bottom-color: black;
}

.unselect{
    font-weight: normal ;
    border-bottom-style: solid;
    border-bottom-width:medium;
    border-bottom-left-radius: 1.5px;
    border-bottom-right-radius: 1.5px;
    border-bottom-color: rgb(0 0 0 / 0);
}

.middel{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}

.container{
    padding: 2.5rem;
    display: flex;
    margin: 0px;
}

.all_page_cover{
    height: 100vh;
    width: 100vw;
    position: absolute;
    top:0;
    left: 0;
    background-color: black;
    opacity: 0.8;
}

