p,button{
    font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
    font-weight: 600;
}

button{
    border-radius: 2px;
    padding: 5px;
}

ul{
    list-style-type: none;
}

hr{
    border: 2px solid rgb(117, 117, 117 / 0.5);
}

body{
    width: 100vw;
    position: absolute;
    top:0;
    left: 0;
    overflow: hidden;
}

.logo-img{
    /* height: 50px; */
    width: 100px;
}

.main-img{
    height: inherit;
    width: inherit;
    overflow:hidden;
}

.profile-picture-container{
    height: 250px; 
    width: 250px;
    border-radius: 100%;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 0px 5px;
}

.text-little_gray{
    color: rgb(117, 117, 117);
}

.text-bule{
    color: rgb(101, 132, 168);
}

.text-size-large{
    font-size: 40px;
}

.text-size-normal{
    font-size: 25px;
}

.text-size-small{
    font-size: 18px;
}

.text-align-end{
    text-align: end;
}

.justify-content-end{
    justify-content:flex-end;
}

.align-items-center{
    align-items: center;
}

.absolute{
    position: absolute;
}

.btu{
    border-radius: 2px;
    padding: 5px;
}

.large-btu-bg{
    background-color: rgb(135, 171, 212);
}   

.little-btu-bg{
    background-color: rgb(210, 220, 233);
}

.bg-red{
    background-color: red; 
}

.bg-green{
    background-color: green;
}

.subtitle{
    font-weight: 700;
    opacity: 0.6;
}

.w-full{
    width: 100%;
}

.w-80{
    width: 80%;
}

.w-60{
    width: 60%;
}

.w-50{
    width: 50%;
}

.w-40{
    width: 40%;
}

.w-33{
    width: 33%;
}

.w-20{
    width: 20%;
}

.h-50{
    height: 50px;
}

.g-10{
    gap: 10px;
}

.g-15{
    gap: 15px;
}

.g-20{
    gap:20px;
}

.g-40{
    gap: 40px;
}

.p-auto{
    padding: auto;
}

.p-10{
    padding: 10px;
}

.p-40{
    padding: 2.5rem;
}

.m-auto{
    margin: auto;
}

.m-b-10{
    margin-bottom: 10px;
}

.align-items-center{
    align-items:center;
}

.border-sd{
    border-width: 2px;
    border-radius: 0.25rem;
    box-shadow: 0 1px 2px 0 rgb(0 0 0 / 0.05);
}

.main-content{
    margin-left: 360px;
}

.profile-area{
    width: 350px;
}

.tool_bar{
    width: 100vw;
    height: 75px;
    padding: 10px 20px !important;
    border-width: 2px;
    box-shadow: 0 0px 2px 0 rgb(0 0 0 / 0.05);
    background-color: rgb(249 250 251 / 1);
}

.problem-overview-list{
    display: flex;
    flex-wrap: wrap;
}

.problem-list{
    display: flex;
    flex-wrap: wrap;
}


.problem-container{
    padding-left: 8px;
    padding-right: 8px;
    margin-bottom: 10px;
}

.problem-info-col{
    height: 25px;
}

.problem-title{
    justify-content: space-between;
}

.problem-notification{
    text-align: center;
    font-weight: 600;
    font-size: xx-large;
}

.page-info-title{

}

.page-info{
    width: 100px;
    text-align: center;
    position: relative;
    z-index: 2;
}

.page-info-indecater{
    justify-content: space-between;
    position: absolute;
    /* transform: translateX(26px); */
    z-index: 0;
    transition-property: all;
    transition-duration: 500ms;
}

.info-first{
    transform: translateX(26px);
}

.info-second{
    transform: translateX(136px);
}

.page-info-btn{
    padding: 0px;

}

.middel{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}

.container{
    display: flex;
    margin: 0px;
}

.main-page{
    max-width: 1280px;
    margin-left: auto;
    margin-right: auto;
}

.all_page_cover{
    height: 100vh;
    width: 100vw;
    position: absolute;
    top:0;
    left: 0;
    background-color: black;
    opacity: 0.8;
}

