<!DOCTYPE html>
<html>
	<head>
        <title> NuOJ - 404 </title>
        <link rel="icon" href="/static/logo_min.png" sizes="16x16" type="image/png">
		<meta charset="utf-8">
        <meta content="#f7b068" data-react-helmet="true" name="theme-color">
        <meta property="og:title" content="NuOJ - 404">
        <meta property="og:site_name" content="NuOJ">
        <meta property="og:type" content="website">
        <meta property="og:url" content="https://nuoj.ntut-xuan.net/">
        <meta property="og:description" content="一款來自國立臺北科技大學的線上評測系統">
        <meta property="og:image" content="https://nuoj.ntut-xuan.net/static/logo_min.png">
        <meta property="og:image:alt" content="NuOJ">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="/static/css/output.css" rel="stylesheet">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Noto+Serif+TC:wght@200;300;400;500;600;700;900&display=swap" rel="stylesheet">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	</head>
    <body class="bg-orange-300 p-10 overflow-y-clip">
        <div class="absolute left-[50%] top-[50%] translate-x-[-50%] translate-y-[-50%] w-[40vh] text-center">
            <img class="w-[50%] mx-auto" src="/static/logo_min.png">
            <p class="m-5 p-2 w-fit mx-auto text-2xl font-mono bg-orange-400 rounded-lg"> 404 Not Found :(</p>
        </div>
    </body>
</html>