<!-- Test mark for about.html -->
<!DOCTYPE html>
<html>
	<head>
        <title> NuOJ - 關於 </title>
        <link rel="icon" href="/static/logo_min.png" sizes="16x16" type="image/png">
		<meta charset="utf-8">
        <meta content="#f7b068" data-react-helmet="true" name="theme-color">
        <meta property="og:title" content="NuOJ - 關於">
        <meta property="og:site_name" content="NuOJ">
        <meta property="og:type" content="website">
        <meta property="og:url" content="https://nuoj.ntut-xuan.net/about">
        <meta property="og:description" content="一款來自國立臺北科技大學的線上評測系統">
        <meta property="og:image" content="https://nuoj.ntut-xuan.net/static/logo_min.png">
        <meta property="og:image:alt" content="NuOJ">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="../static/css/output.css" rel="stylesheet">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Noto+Serif+TC:wght@200;300;400;500;600;700;900&display=swap" rel="stylesheet">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	</head>
    <body class="bg-orange-200 p-10 overflow-y-clip">
        <div class="absolute left-[50%] top-[50%] translate-x-[-50%] translate-y-[-50%] w-[80%] h-fit text-center p-5 bg-white rounded-xl">
            <div class=py-8>
                <a href="/"><img class="w-[8%] mx-auto" src="/static/logo_min.png"></a>
                <p class="text-4xl underline font-thin font-serif p-5"> Nu Online Judge Staff </p>
            </div>
            <div class="flex flex-row justify-center gap-5 font-['Noto_Serif_TC']">
                <div class="w-full">
                    <div class="text-center">
                        <img class="object-contain h-48 w-48 mx-auto" src="https://ntut-xuan.github.io/src/image/uriah2.jpg">
                    </div>
                    <div class="py-5">
                        <p class="text-2xl"> 黃漢軒 </p>
                        <p class="text-base"> 國立臺北科技大學 109 級資訊工程系</p>
                        <div class="py-5">
                            <p class="text-base"> System Design </p>
                            <p class="text-base"> Backend Design </p>
                            <p class="text-base"> Database Design </p>
                            <p class="text-base"> Research and Development </p>
                        </div>
                    </div>
                </div>
                <div class="w-full">
                    <div class="text-center">
                        <img class="object-contain h-48 w-48 mx-auto" src="https://cdn.discordapp.com/attachments/982659073017278527/996374011548274758/233D9288-77FC-43D9-B0D4-1ED24AB5A4C3.JPG">
                    </div>
                    <div class="py-5">
                        <p class="text-2xl"> 吳秉宸 </p>
                        <p class="text-base"> 國立臺北科技大學 109 級資訊工程系</p>
                        <div class="py-5">
                            <p class="text-base"> Cyber Security </p>
                            <p class="text-base"> Linux Engineer </p>
                            <p class="text-base"> Research and Development </p>
                        </div>
                    </div>
                </div>
                <div class="w-full">
                    <div class="text-center">
                        <img class="object-contain h-48 w-48 mx-auto" src="https://cdn.discordapp.com/attachments/982659073017278527/996384235315277885/IMG_8469.JPG">
                    </div>
                    <div class="py-5">
                        <p class="text-2xl"> 溫紹傑 </p>
                        <p class="text-base"> 國立臺北科技大學 109 級資訊工程系</p>
                        <div class="py-5">
                            <p class="text-base"> Frontend Design </p>
                            <p class="text-base"> Webapp Tester </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>