<html class="h-full">
    <head>
        <link rel="stylesheet" href="/static/css/output.css">
        <script  src="https://code.jquery.com/jquery-3.1.1.min.js"   integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="   crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    </head>
    <body>
        <div id="icon" class="fixed p-10 py-5 bg-gray-50 z-50 h-fit w-full">
            <div class="flex w-3/5 justify-between">
                <div>
                    <a class="relative w-fit h-fit" href="/">
                        <img class="h-[60px] w-auto" src="/static/logo.svg">
                    </a>
                </div>
                <div class="my-auto cursor-pointer">
                    <a class="text-3xl my-auto hover:border-b-2 hover:border-b-black"> 基本設定 </a>
                </div>
                <div class="my-auto cursor-pointer">
                    <a class="text-3xl my-auto hover:border-b-2 hover:border-b-black"> 解答設定 </a>
                </div>
                <div class="my-auto cursor-pointer">
                    <a class="text-3xl my-auto hover:border-b-2 hover:border-b-black"> 測資設定 </a>
                </div>
                <div class="my-auto cursor-pointer">
                    <a class="text-3xl my-auto hover:border-b-2 hover:border-b-black"> 程式測試 </a>
                </div>
            </div>
        </div>
        <div class="relative w-full text-center bg-white flex min-h-full pt-24">
            <div class="flex flex-col justify-start gap-10 w-[50%]">
                <div class="p-10">
                    <p class="font-bold text-5xl m-5 text-left"> 題目敘述 </p>
                    <div class="flex flex-col gap-5 p-5 text-left">
                        <input type="text" class="w-full bg-slate-100 text-base p-2 px-4 border-gray-600 appearance-none border-2 rounded focus:outline-none focus:border-orange-500 focus:bg-white" value="{{title}}" placeholder="題目名稱">
                        <textarea class="h-[200px] bg-slate-100 p-2 text-base px-4 border-2 border-gray-600 appearance-none resize-none overflow-y-hidden rounded focus:outline-none focus:border-orange-500 focus:bg-white" placeholder="題目敘述">{{description}}</textarea>
                        <textarea class="h-[200px] bg-slate-100 p-2 text-base px-4 border-2 border-gray-600 appearance-none resize-none overflow-y-hidden rounded focus:outline-none focus:border-orange-500 focus:bg-white" placeholder="輸入說明">{{input}}</textarea>
                        <textarea class="h-[200px] bg-slate-100 p-2 text-base px-4 border-2 border-gray-600 appearance-none resize-none overflow-y-hidden rounded focus:outline-none focus:border-orange-500 focus:bg-white" placeholder="輸出說明">{{output}}</textarea>
                        <textarea class="h-[200px] bg-slate-100 p-2 text-base px-4 border-2 border-gray-600 appearance-none resize-none overflow-y-hidden rounded focus:outline-none focus:border-orange-500 focus:bg-white" placeholder="備注">{{note}}</textarea>
                    </div>
                </div>
            </div>
            <div class="flex flex-col justify-start gap-10 w-[50%]">
                <div class="p-10">
                    <p class="font-bold text-5xl m-5 text-left"> 題目設定 </p>
                    <div class="flex flex-col gap-5 p-5">
                        <div class="w-full flex items-center">
                            <label class="text-right w-1/6"> 觀看權限 </label>
                            <select class="ml-10 w-3/5 bg-slate-100 p-2 text-base px-4 border-2 border-gray-600" value="{{permission}}">
                                <option value="1"> 僅限自己 </option>
                                <option value="2"> 公開 </option>
                            </select>
                        </div>
                        <div class="w-full flex items-center">
                            <label class="text-right w-1/6"> 題目限時(秒) 
                            </label>
                            <input type="text" class="ml-10 w-3/5 bg-slate-100 p-2 text-base px-4 border-2 border-gray-600 appearance-none resize-none overflow-y-hidden rounded focus:outline-none focus:border-orange-500 focus:bg-white" value="{{time_limit}}">
                        </div>
                        <div class="w-full flex items-center">
                            <label class="text-right w-1/6"> 題目記憶體(MB) 
                            </label>
                            <input type="text" class="ml-10 w-3/5 bg-slate-100 p-2 text-base px-4 border-2 border-gray-600 appearance-none resize-none overflow-y-hidden rounded focus:outline-none focus:border-orange-500 focus:bg-white" value="{{memory_limit}}">
                        </div>
                        <div>
                            <button id="submit" class="w-full text-lg bg-orange-600 rounded text-white p-2 hover:bg-orange-400 active:translate-y-1"> 存檔 </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="w-full text-center py-10">
            <p id="PID" class="italic text-gray-400"> {{PID}} </p>
        </div>
    </body>
    <script>
        function save(){

            let PID = document.getElementById("PID").innerText

            dataJson = {}
            dataJson["problem_content"] = {}
            dataJson["basic_setting"] = {}
            dataJson["problem_pid"] = PID
            dataJson["problem_content"]["title"] = document.getElementsByTagName("input")[0].value
            dataJson["problem_content"]["description"] = document.getElementsByTagName("textarea")[0].value
            dataJson["problem_content"]["input"] = document.getElementsByTagName("textarea")[1].value
            dataJson["problem_content"]["output"] = document.getElementsByTagName("textarea")[2].value
            dataJson["problem_content"]["note"] = document.getElementsByTagName("textarea")[3].value
            dataJson["basic_setting"]["permission"] = document.getElementsByTagName("select")[0].value
            dataJson["basic_setting"]["time_limit"] = document.getElementsByTagName("input")[1].value
            dataJson["basic_setting"]["memory_limit"] = document.getElementsByTagName("input")[2].value

            if(dataJson["problem_content"]["title"].length == ""){
                Swal.fire({
                    icon: "error",
                    title: "標題不能為空",
                    timer: 2000,
                    showConfirmButton: false
                }).then(() => {
                    return;
                })
            }else if(dataJson["basic_setting"]["time_limit"].length == ""){
                Swal.fire({
                    icon: "error",
                    title: "題目限時不能為空",
                    timer: 2000,
                    showConfirmButton: false
                }).then(() => {
                    return;
                })
            }else if(dataJson["basic_setting"]["memory_limit"].length == ""){
                Swal.fire({
                    icon: "error",
                    title: "記憶體限制不能為空",
                    timer: 2000,
                    showConfirmButton: false
                }).then(() => {
                    return;
                })
            }else{
                Swal.fire({
                    title: "存檔中...",
                    timer: 2000,
                    timerProgressBar: true,
                    showConfirmButton: false,
                    didOpen: () => {
                        $.ajax({
                            url: window.location.href,
                            data: JSON.stringify(dataJson),
                            type: "POST",
                            dataType: "json",
                            contentType: "application/json;charset=utf-8",
                            success(resp, textStatus, xhr){
                                Swal.fire({
                                    icon: "success",
                                    timer: 1500,
                                    title: "存檔成功！",
                                    showConfirmButton: false
                                })
                            }
                        })
                    }
                });
            }
        }
        document.body.addEventListener('keydown', (e) => {
            if(e.ctrlKey && e.key === "s"){
                save();
                e.preventDefault();
            }
        })
        document.getElementById("submit").addEventListener("click", save)   
    </script>
</html>