<html class="h-full">
    <head>
        <link rel="stylesheet" href="/static/css/output.css">
        <link rel="icon" href="/static/logo_min.png" sizes="16x16" type="image/png">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.1/codemirror.css">
        <link rel="stylesheet" href="https://codemirror.net/5/theme/darcula.css">
        <script  src="https://code.jquery.com/jquery-3.1.1.min.js"   integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="   crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.1/codemirror.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.1/mode/clike/clike.js"></script>
        <script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
    </head>
    <body class="overflow-y-scroll">
        <div class="z-20 flex flex-col">
            <div id="icon" class="p-10 py-5 bg-gray-50 h-fit w-full z-10">
                <div class="flex w-full justify-start gap-16">
                    <div>
                        <a class="relative w-fit h-fit" href="/">
                            <img class="h-[60px] w-auto" src="/static/logo.svg">
                        </a>
                    </div>
                    <div class="my-auto cursor-pointer">
                        <a href="/edit_problem/{{PID}}/basic" class="text-3xl my-auto hover:border-b-2 hover:border-b-black"> 基本設定 </a>
                    </div>
                    <div class="my-auto cursor-pointer">
                        <a href="/edit_problem/{{PID}}/solution" class="text-3xl my-auto hover:border-b-2 hover:border-b-black"> 解答設定 </a>
                    </div>
                    <div class="my-auto cursor-pointer">
                        <a class="text-3xl my-auto hover:border-b-2 hover:border-b-black"> 測資設定 </a>
                    </div>
                    <div class="my-auto cursor-pointer">
                        <a class="text-3xl my-auto hover:border-b-2 hover:border-b-black"> 程式測試 </a>
                    </div>
                </div>
            </div>
            <div class="relative w-full bg-white min-h-full flex">
                <div class="w-full p-10">
                    <p class="font-bold text-5xl m-5 text-left"> 解答設定 </p>
                    <div id="no_solution_current" class="my-5 p-5 border-2 rounded-lg">
                        <p class="text-center" > 目前還沒有解答，點擊下方「新增解答」按鈕來新增一個解答 </p>
                    </div>
                    <div id="cardset">
                        <template id="card_template">
                            <div id="card" class="my-5 p-5 border-2 rounded-lg">
                                <p id="card_1" value="1" class="text-center py-5 cursor-pointer hover:bg-gray-200" onclick="expend(1)"> 解答 #1 </p>
                                <div id="solution_area_1" class="max-h-0 overflow-hidden transition-all duration-500 ease-linear">
                                    <textarea id="code_area_1" class="resize-none w-full h-10" readonly></textarea>
                                    <button class="bg-red-500 text-white transition-colors duration-200 hover:bg-red-400 w-full p-3 text-lg rounded-lg mt-5"> 刪除 </button>
                                </div>
                            </div>
                        </template>
                    </div>
                    <button class="bg-amber-500 text-white transition-colors duration-200 hover:bg-amber-400 w-full p-3 text-lg rounded-lg my-3" onclick="add_problem()"> 新增解答 </button>
                    <button id="compile_button" class="enabled:bg-blue-500 disabled:bg-slate-400 text-white transition-colors duration-200 enabled:hover:bg-blue-400 w-full p-3 text-lg rounded-lg my-3" disabled> 編譯測試 </button>
                    <button id="save_button" class="enabled:bg-green-500 disabled:bg-slate-400 text-white transition-colors duration-200 hover:bg-green-400 w-full p-3 text-lg rounded-lg my-3" disabled> 存檔 </button>
                </div>
            </div>
            <div class="w-full text-center py-10">
                <p id="PID" class="italic text-gray-400"> {{PID}} </p>
            </div>
        </div>
        <div id="dark" class="h-0 overflow-y-hidden absolute left-0 bottom-[-100%] transition-all duration-1000 ease-in-out bg-opacity-50 bg-black w-screen z-50">
            <div class="absolute bg-white p-5 rounded-lg w-[80%] h-fit left-[50%] top-[50%] translate-x-[-50%] translate-y-[-50%]">
                <p id="add_problem_title" class="font-bold text-5xl m-5 text-center"> </p>
                <textarea id="code_area" class="resize-none w-full h-20"></textarea>
                <button class="bg-amber-500 text-white transition-colors duration-200 hover:bg-amber-400 w-full p-3 text-lg rounded-lg mt-3" onclick="submit()"> 存檔 </button>
                <button class="bg-red-500 text-white transition-colors duration-200 hover:bg-red-400 w-full p-3 text-lg rounded-lg mt-3" onclick="cancel()"> 取消 </button>
            </div>
        </div>
    </body>
    <script>
        let codearea_editor = null
        let solution_editor = []
        let setting = {
            lineNumbers: true,
            matchBrackets: true,
            mode: "text/x-c++src",
            theme: "darcula"
        }
        let read_only_setting = {
            lineNumbers: true,
            matchBrackets: true,
            mode: "text/x-c++src",
            theme: "darcula",
            readOnly: true
        }
        function add_problem(){
            $("#add_problem_title").text("解答設定 #" + (solution_editor.length + 1))
            $("#dark").removeClass("h-0")
            $("#dark").removeClass("bottom-[-100%]")
            $("#dark").addClass("bottom-0")
            $("#dark").addClass("h-screen")
        }
        function submit(){
            solution_count = solution_editor.length + 1;
            let template = document.querySelector("#card_template");
            let add_solution_dialog = document.querySelector("#dark");
            var code = codearea_editor.getValue();
            template.content.querySelectorAll("p")[0].setAttribute("id", "card_" + solution_count);
            template.content.querySelectorAll("p")[0].textContent = "解答 #" + solution_count;
            template.content.querySelectorAll("p")[0].setAttribute("value", solution_count);
            template.content.querySelectorAll("p")[0].setAttribute("onclick", "expend(" + solution_count + ")");
            template.content.querySelectorAll("div")[1].setAttribute("id", "solution_area_" + solution_count);
            template.content.querySelectorAll("textarea")[0].setAttribute("id", "code_area_" + solution_count);
            template.content.querySelectorAll("textarea")[0].textContent = code;
            codearea_editor.setValue("");
            var clone = document.importNode(template.content, true);
            document.getElementById("cardset").appendChild(clone);
            let editor = CodeMirror.fromTextArea(document.getElementById("code_area_" + solution_count), read_only_setting);
            solution_editor.push(editor)
            cancel();

            $("#no_solution_current").addClass("hidden")
            $("#compile_button").prop('disabled', false);
        }
        function cancel(){
            $("#dark").removeClass("h-screen")
            $("#dark").removeClass("bottom-0")
            $("#dark").addClass("h-0")
            $("#dark").addClass("bottom-[-100%]")
        }
        function expend(ID){ 
            if($("#solution_area_" + ID).hasClass("max-h-0")){
                console.log("open")
                $("#solution_area_" + ID).removeClass("max-h-0");
                $("#solution_area_" + ID).addClass("max-h-full");
            }else{
                console.log("close")
                $("#solution_area_" + ID).removeClass("max-h-full");
                $("#solution_area_" + ID).addClass("max-h-0");
            }
        }
        codearea_editor = CodeMirror.fromTextArea(document.getElementById("code_area"), setting);
    </script>
</html>