<!-- Test mark for handle_setup.html -->
<!DOCTYPE html>
<html>
	<head>
        <title> NuOJ - 404 </title>
        <link rel="icon" href="/static/logo_min.png" sizes="16x16" type="image/png">
		<meta charset="utf-8">
        <meta content="#f7b068" data-react-helmet="true" name="theme-color">
        <meta property="og:title" content="NuOJ - Handle 設置">
        <meta property="og:site_name" content="NuOJ">
        <meta property="og:type" content="website">
        <meta property="og:url" content="https://nuoj.ntut-xuan.net/">
        <meta property="og:description" content="一款來自國立臺北科技大學的線上評測系統">
        <meta property="og:image" content="https://nuoj.ntut-xuan.net/static/logo_min.png">
        <meta property="og:image:alt" content="NuOJ">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="/static/css/output.css" rel="stylesheet">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Noto+Serif+TC:wght@200;300;400;500;600;700;900&display=swap" rel="stylesheet">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
	</head>
    <body class="bg-slate-200 p-10 overflow-y-clip">
        <div class="absolute left-[50%] top-[50%] translate-x-[-50%] translate-y-[-50%] w-[50vw] text-center rounded-lg bg-white p-5">
            <img class="w-[10%] mx-auto" src="/static/logo_min.png">
            <p class="mt-5 w-fit mx-auto text-2xl"> 設定你的 Handle </p>
            <p class="text-sm font-bold mt-10"> Handle 是什麼 </p>
            <p class="pt-1 w-fit mx-auto"> Handle 是在 Nu Online Judge 的使用者名稱 </p>
            <p class="pt-1 w-fit mx-auto"> 你只能設定一次 Handle，為自己的帳號想個 Handle 吧 </p>
            <p class="text-sm font-bold mt-10"> Handle 規範</p>
            <p class="pt-1 w-fit mx-auto"> Handle 僅能使用大小寫英文、數字與特殊符號（底線與連接號）。 </p>
            <p class="pt-1 w-fit mx-auto"> 最長長度 39 個字，最短長度 4 個字。 </p>
            <p class="pt-1 w-fit mx-auto"> 特殊符號不能當做 handle 字首或字尾，特殊符號不能連續。 </p>
            <p class="text-sm font-bold mt-10"> Handle </p>
            <input id="handle" class="w-full text-xl text-center mt-1 p-1 rounded border-slate-200 border-2 font-mono">
            <button class="mt-10 w-full p-2 bg-blue-500 rounded-lg text-white" onclick="handle_setup()"> 提交 </button>
        </div>
    </body>
    <script src="/static/js/error_code.js"></script>
    <script>
        function handle_setup(){
            handle = document.getElementById("handle").value;
            dataJson = {}
            dataJson["handle"] = handle;
            console.log(handle)
            $.ajax({
                    url: "/api/auth/setup_handle",
                    type: "POST",
                    data: JSON.stringify(dataJson),
                    dataType: "json",
                    contentType: "application/json",
                    success: function(data, status, xhr){
                        success_swal("設置成功").then(() => {window.location.href = "/"})
                    },
                    error: function(xhr, exception){
                        if(xhr.status == 401){
                            error_swal("設置失敗", "HS_INVALID")
                        }else if(xhr.status == 422){
                            error_swal("設置失敗", "Handle 不符合規範")
                        }else if(xhr.status == 403){
                            error_swal("設置失敗", "Handle 已重複")
                        }
                    }
            });
        }
        document.addEventListener('keyup', (e) => {
            if(e.code=="Enter" || e.code =="NumpadEnter"){
                handle_setup()
            }
        });
    </script>
</html>