<!DOCTYPE html>
<html>
    <head>
        <title> NuOJ - 首頁 </title>
        <link rel="icon" href="/static/logo_min.png" sizes="16x16" type="image/png">
        <meta charset="utf-8">
        <meta content="NuOJ - Index" name="title">
        <meta content="一款來自 國立臺北科技大學 的線上程式評測系統" name="description">
        <meta content="https://nuoj.ntut-xuan.net/" name="url">
        <meta content="https://nuoj.ntut-xuan.net/static/logo-white.svg" name="image">
        <meta content="#f7b068" data-react-helmet="true" name="theme-color">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@500&display=swap" rel="stylesheet">
        <link href="../static/css/output.css" rel="stylesheet">
        <script src="https://code.jquery.com/jquery-3.1.1.min.js"
            integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
        <script>
            function logout() {
                var requestURL = window.location.protocol + '//' + window.location.hostname + "/logout";
                $.ajax({
                    url: requestURL,
                    type: "POST",
                    dataType: "json",
                    contentType: "application/json;charset=utf-8",
                    success: function (data, status, xhr) {
                        Swal.fire({
                            icon: 'success',
                            title: "登出成功",
                            showConfirmButton: false,
                            timer: 1500
                        }).then((result) => {
                            window.location.href = "./";
                        });
                    },
                    error: function (xhr, ajaxOptions, thrownError) {
                        Swal.fire({
                            icon: 'error',
                            title: "登出失敗",
                            text: '請聯繫管理員 QQ',
                            showConfirmButton: false,
                            timer: 1500
                        })
                    }
                });
            }
        </script>
    </head>
    <body>
        <div class="absolute h-full w-full bg-cover bg-[url('../index.jpg')]">
            <div class="absolute h-full w-full bg-gray-900 bg-opacity-80">
                <div class="absolute p-10 w-full flex justify-between">
                    <div class="flex gap-10 items-center min-h-[7vh] justify-start">
                        <div class="w-full text-center">
                            <a href="#">
                                <img class="w-full" src="/static/logo-white.svg">
                            </a>
                        </div>
                        <div class="w-full text-center">
                            <a class="text-white text-2xl border-b-2 border-white border-opacity-0 duration-500 hover:border-white hover:border-opacity-100" href="/problem"> 題目 </a>
                        </div>
                        <div class="w-full text-center">
                            <a class="text-white text-2xl border-b-2 border-white border-opacity-0 duration-500 hover:border-white hover:border-opacity-100" href="/submissionList"> 提交列表 </a>
                        </div>
                        <div class="w-full text-center">
                            <a class="text-white text-2xl border-b-2 border-white border-opacity-0 duration-500 hover:border-white hover:border-opacity-100" href="/about"> 關於 </a>
                        </div>
                        <div class="w-full text-center">
                            <a class="text-white text-2xl border-b-2 border-white border-opacity-0 duration-500 hover:border-white hover:border-opacity-100" href="/status"> 狀態 </a>
                        </div>
                    </div>
                    <div class="flex gap-20 items-center min-h-[7vh] justify-end">
                        {%- if not login -%}
                        <div>
                            <a class="text-white text-2xl border-b-2 border-white border-opacity-0 duration-500 hover:border-white hover:border-opacity-100" href="/login"> 登入 </a>
                        </div>
                        <div>
                            <a class="text-white text-2xl border-b-2 border-white border-opacity-0 duration-500 hover:border-white hover:border-opacity-100" href="/register"> 註冊 </a>
                        </div>
                        {% else %}
                        <div>
                            <a class="text-white text-2xl border-b-2 border-white border-opacity-0 duration-500 hover:border-white hover:border-opacity-100" href="/profile/{{handle}}"> {{handle}} </a>
                        </div>
                        {% endif %}
                    </div>
                </div>
                <div class="absolute left-[50%] top-[50%] -translate-x-[50%] -translate-y-[50%] text-center w-[80%]">
                    <p class="text-white text-5xl m-5 hover:text-gray-400 font-medium "> Welcome to NuOJ! </p>
                    <p class="text-white text-2xl m-5 hover:text-gray-400"> 一款來自 國立臺北科技大學 的線上程式評測系統 </p>
                    <p class="text-white text-2xl m-5 hover:text-gray-400"> 系統正在進行開發中，你可以追蹤<a class="text-orange-500" href="/dev_progress">我們的開發進度</a></p>
                </div>
                <div class="absolute bottom-14 w-full" id="icon">
                    <div class="w-full flex justify-center">
                        <div class="p-3 w-fit duration-500 bg-white hover:bg-slate-400">
                            <a href="https://ntut.edu.tw">
                                <img src="https://www.ntut.edu.tw/var/file/7/1007/img/2858/845828669.png">
                            </a>
                        </div>
                    </div>
                    <div class="w-fit mx-auto m-5">
                        <p class="text-white"> 2022, NuOJ Team. </p>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>