<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title> NuOJ - 登入 </title> 
        <link rel="stylesheet" href="../static/css/output.css">
        <link rel="icon" href="/static/logo_min.png" sizes="16x16" type="image/png">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script  src="https://code.jquery.com/jquery-3.1.1.min.js"   integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="   crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
        <script src="https://apis.google.com/js/platform.js?onload=init" async defer></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jsSHA/3.1.2/sha.js"></script>
    </head>
    <body>
        <div class="w-full h-screen flex bg-orange-300">
            <div class="w-full h-screen bg-cover">
                <div class="w-full h-full">
                    <div class="absolute left-[50%] top-[50%] -translate-x-[50%] -translate-y-[50%] w-1/3 bg-white bg-opacity-100 rounded p-10 pb-3">
                        <p class="text-4xl text-center mb-10"> 登入 </p>
                        <div class="mt-10 flex flex-col gap-5">
                            <input type="text" class="w-full bg-slate-100 p-2 text-base px-4 border-2 border-gray-600 appearance-none resize-none overflow-y-hidden rounded focus:outline-none focus:border-orange-500 focus:bg-white" placeholder="帳號或電子信箱">
                            <input type="password" class="w-full bg-slate-100 p-2 text-base px-4 border-2 border-gray-600 appearance-none resize-none overflow-y-hidden rounded focus:outline-none focus:border-orange-500 focus:bg-white" placeholder="密碼">
                        </div>
                        <div class="mt-10">
                            <button id="viaAccount" class="w-full bg-orange-500 text-white text-lg p-2 rounded my-2 duration-150 hover:bg-orange-300"> 登入 </button>
                            {% if githubStatus %}
                            <button id="viaGithub" class="w-full bg-black text-white text-lg p-2 rounded my-2 duration-150 hover:bg-gray-800"> 使用 Github OAuth 進行登入 </button>
                            {% endif %}
                            {% if googleStatus %}
                            <button id="viaGoogle" class="w-full bg-gray-300 text-black text-lg p-2 rounded my-2 duration-150 hover:bg-gray-200"> 使用 Google OAuth 進行登入 </button>
                            {% endif %}
                        </div>
                        <div>
                            <a class="w-full text-center" href="/register">  
                                <p class="text-gray-500 mt-10">沒有帳號嗎？點此註冊</p>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
    <script>

        function Account(){
            let account = document.getElementsByTagName("input")[0].value
            let password = document.getElementsByTagName("input")[1].value
            let dataJson = {}
            const shaObj = new jsSHA("SHA-512", "TEXT", { encoding: "UTF8" });
            shaObj.update(password)
            dataJson["account"] = account
            dataJson["password"] = shaObj.getHash("HEX")
            $.ajax({
                url: "./login",
                type: "POST",
                data: JSON.stringify(dataJson),
                dataType: "json",
                contentType: "application/json",
                success(data, status, xhr){
                    if(data["status"] == "OK"){
                        Swal.fire({
                            icon: "success",
                            title: "登入成功",
                            timer: 1500,
                            showConfirmButton: false
                        }).then(() => {
                            window.location.href = "/"
                        })
                    }else{
                        if(data["code"] === 304){
                            window.location.href = "/mail_check"
                        }else{
                            Swal.fire({
                                icon: "error",
                                title: "登入失敗",
                                timer: 1500,
                                showConfirmButton: false
                            })
                        }
                    }
                }
            })
        }
        if(document.getElementById("viaGithub") != undefined){
            document.getElementById("viaGithub").addEventListener("click", () => {
                window.location.href = "https://github.com/login/oauth/authorize?client_id={{github_client_id}}&scope=repo";
            })
        }
        if(document.getElementById("viaGoogle") != undefined){
            document.getElementById("viaGoogle").addEventListener("click", () => {
                let client_id = "{{google_client_id}}"
                let redirect_url = "{{google_redirect_url}}"
                let response_type = "code"
                let scope = "https://www.googleapis.com/auth/userinfo.profile https://www.googleapis.com/auth/userinfo.email"
                window.location.href = "https://accounts.google.com/o/oauth2/v2/auth?client_id=" + client_id + "&redirect_uri=" + redirect_url + "&response_type=" + response_type + "&scope=" + scope;
            })
        }
        if(document.getElementById("viaAccount") != undefined) {
            document.getElementById("viaAccount").addEventListener("click", () => {Account()})
        }
        document.addEventListener('keyup', (e) => {
            if(e.code=="Enter"){
                Account()
            }
        });
   </script>
</html>