<!-- Test mark for login.html -->
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title> NuOJ - 登入 </title>
        <link rel="stylesheet" href="../static/css/output.css">
        <link rel="icon" href="/static/logo_min.png" sizes="16x16" type="image/png">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script  src="https://code.jquery.com/jquery-3.1.1.min.js"   integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="   crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
        <script src="https://apis.google.com/js/platform.js?onload=init" async defer></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jsSHA/3.1.2/sha.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/node-forge@1.0.0/dist/forge.min.js"></script>
    </head>
    <body>
        <div id="login_form">

        </div>
    </body>
    <script src="https://unpkg.com/react@18/umd/react.development.js" crossorigin></script>
    <script src="https://unpkg.com/react-dom@18/umd/react-dom.development.js" crossorigin></script>
    <script src="/static/js/error_code.js"></script>
    <script src="/static/js/DataValidPattern.js"></script>
    <script src="/static/js/login.js"></script>
</html>