<!doctype html>
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta name="x-apple-disable-message-reformatting" />
	</head>
	<body>
		<div style="width: 100%; height: 100%; background-color: #00FFFF55; padding: 20pt">
			<div style="width: fit-content; margin-left:auto; margin-right:auto; text-align: center; background-color: #FFF; border-radius: 10px; padding: 25pt">
				<img src="cid:logo_min.png" width=100 height=100>
				<p style="font-family: 'Noto Sans TC'; font-size: 24pt"> 哈囉，感謝你註冊 NuOJ! <p>
				<p style="font-family: 'Noto Sans TC'"> 以下是你的驗證碼 </p>
				<p style="padding: 1em; background-color: #CCCCCC; width: fit-content; margin-left:auto; margin-right:auto; font-family: 'Noto Sans TC'; border-radius: 10px;"> {{verify_code.code}} </p>
				<p style="font-family: 'Noto Sans TC'"> 若您沒有註冊本網站，請忽略這則信件 </p>
				<p style="font-family: 'Noto Sans TC'"> 祝寫 code 愉快！ </p>
			</div>
		<div>
	</body>
</html>