<!-- Test mark for problem_list.html -->
<!DOCTYPE html>
<html>
	<head>
        <title> NuOJ - 題目列表 </title>
        <link rel="icon" href="/static/logo_min.png" sizes="16x16" type="image/png">
		<meta charset="utf-8">
        <meta content="#f7b068" data-react-helmet="true" name="theme-color">
        <meta property="og:title" content="NuOJ - 題目列表">
        <meta property="og:site_name" content="NuOJ">
        <meta property="og:type" content="website">
        <meta property="og:url" content="https://nuoj.ntut-xuan.net/dev_progress">
        <meta property="og:description" content="一款來自國立臺北科技大學的線上評測系統">
        <meta property="og:image" content="https://nuoj.ntut-xuan.net/static/logo_min.png">
        <meta property="og:image:alt" content="NuOJ">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="../static/css/output.css" rel="stylesheet">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Noto+Serif+TC:wght@200;300;400;500;600;700;900&display=swap" rel="stylesheet">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	</head>
    <body class="bg-slate-200 p-10 overflow-y-clip">
        <div class="bg-white p-5 rounded-xl w-full flex justify-between">
            <div class="flex justify-start gap-10 min-h-[7vh]">
                <div class="w-full h-fit my-auto">
                    <a href="/">
                        <img class="w-[80%] mx-auto" src="/static/logo-black.svg">
                    </a>
                </div>
                <div class="w-full h-fit my-auto text-center">
                    <p class="text-base lg:text-2xl inline-block align-middle leading-normal my-0 font-['Noto_Sans_TC'] border-b-2 border-black border-opacity-0 duration-500 hover:border-black hover:border-opacity-100"> 提交狀態 </p>
                </div>
            </div>
            <div id="user_title" class="px-3 flex justify-end gap-10">
                
            </div>
        </div>
        <div class="mt-10 rounded-xl w-full h-full flex justify-between gap-10 font-['Noto_Sans_TC']">
            <div class="w-[80%] h-[75vh] p-10 bg-white rounded-xl ">
                <div id="table" class="w-full h-full bg-white rounded-xl inline-block overflow-y-auto flex flex-col justify-between" >
                    
                </div>
            </div>
            <div class="w-[20%] p-5 h-full bg-white rounded-xl">
                <img class="w-[50%] mx-auto" src="/static/logo_min.png">
                <p class="text-2xl text-center p-5"> NuOJ Lab </p>
            </div>
        </div>

        <script src="https://unpkg.com/react@18/umd/react.development.js" crossorigin></script>
        <script src="https://unpkg.com/react-dom@18/umd/react-dom.development.js" crossorigin></script>
        <script src="/static/js/react_problem.js"></script> 
    </body>
</html>
