<!DOCTYPE html>
<html>
    <head>
        <link href="/static/css/output.css" rel="stylesheet">
        <link rel="stylesheet" href="/static/css/profile.css">
        <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    </head>
    <body>
        <div id="main" class="bg-slate-100 w-full" style="height: 100vh; overflow: hidden;"></div>

        
        <script src="https://unpkg.com/react@18/umd/react.development.js" crossorigin></script>
        <script src="https://unpkg.com/react-dom@18/umd/react-dom.development.js" crossorigin></script>
        <!-- <script src="/static/js/error_code.js"></script> -->
        {% if userType == True %}
        <script src="/static/js/react_profile_owner.js"></script>
        {% else %}
        <script src="/static/js/react_profile_guest.js"></script>
        {% endif%}
    </body>
</html>

