{% for problem in problems %}
<a href="/edit_problem/{{problem.token}}/">
    <div style="border:2px black solid;padding: 10px;border-radius: 20px;">
        <div style="display:flex;gap: 10px;align-items: center" >
            {% if problem.state==1 %}
            <div style="width: 20px;height:20px; background-color: green; border-radius: 10px;"> </div>
            <p>公開</p>
            {% else %}
            <div style="width: 20px;height:20px; background-color: red; border-radius: 10px;"> </div>
            <p>未公開</p>    
            {% endif %}
        </div>
        <hr>
        <p class="text-2xl">{{problem.title}}</p>
        <p class="text-1xl">{{problem.token}}</p>
    </div>
</a>
{% endfor %}