<!DOCTYPE html>
<html>
    <head>
        <link href="/static/css/output.css" rel="stylesheet">
        <link rel="stylesheet" href="/static/css/profile.css">
        <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    </head>
    <body class="bg-slate-100" style="min-height: 600px; display: flex; flex-direction: column;height: 100vh;overflow: hidden;">
        
        <!-- 選項欄位 -->
        <div class="bg-gray-50 border-2 shadow-sm flex items-center"  style="padding: 1.25rem 2.5rem;width: 100vw;height: 75px; margin: 0px;gap:20px">
            <div class="flex">
                <a  href="/">
                    <img style="height: 3rem;" src="/static/logo-black.svg">
                </a>
            </div>
            <div class="flex" style="width: 100%;gap: 20px;">
                <button id="first_choice" class="select" onclick="contentchange(0)">個人資料</button>
                <button id="second_choice" class="unselect" onclick="contentchange(1)"> 題目</button>
            </div>
            <div class="w-1/4 flex justify-end">
                <div>
                    <a id="logout" class="text-2xl border-b-2 border-black border-opacity-0 duration-500 cursor-pointer hover:border-black hover:border-opacity-100"> 登出 </a>
                </div>
            </div>
        </div>
        <!-- 主要介面 -->
        <div id="main" style="width: 100vw;height: 100%;">
            <!-- 個人資料 -->
            <div id="profile" class="containter flex flex-col middel page_changhe animationStop animationDiralternate" style="width: 500px; margin:0px;">
                <!-- 帳號名稱與頭像 -->
                <div class="w-full flex">
                    <div class="w-1/3 flex flex-col" style="gap: 10px;">
                        <div class="bg-slate-200 rounded-full mx-auto p-1" style="height: 150px; width: 150px;">
                            <img style="height: inherit;width:inherit;overflow:hidden;" src="/static/logo-black.svg">
                        </div>
                        <div>
                            <div class="flex justify-center w-full">
                                <button id="main_change" class="bg-slate-200" style="border-radius: 2px;background-color: rgb(135, 171, 212);padding: 5px;">修改個人資料</button>
                            </div>
                        </div>
                    </div>
                    <div class="w-full flex justify-center flex-col items-center">
                        <p class="text-2xl font-mono " style="color: rgb(39, 37, 49);"> {{accountType}} </p>
                        <p id="username"class="text-5xl font-mono ">{{handle}}</p>
                    </div>
                </div>
                <!-- 帳號email -->
                <div class="w-full flex flex-col">
                    <p class="font-mono text-2xl" style="font-weight: 700;opacity: 0.6;">電子信箱</p>
                    <div class="flex" style="padding-left:10px;">
                        <div style="width: 80%;">
                            <!-- <p id="email" style="width: 80%;">0000@gmail.com</p> -->
                            <p id="email" style="width: 80%;">{{email}}</p>
                        </div>
                        <div class="flex justify-end" style="width: 20%;">
                            <button id="email_change" class="bg-slate-200" style="border-radius: 2px;background-color: rgb(210, 220, 233);padding: 5px;">修改</button>
                        </div>
                    </div>
                </div>
                <!-- 帳號學校 -->
                <div class="w-full flex flex-col">
                    <p class="font-mono text-2xl" style="font-weight: 700;opacity: 0.6;">學校</p>
                    <div class="flex" style="padding-left:10px;">
                        <div style="width: 80%;">
                            <p id="school">{{school}}</p>
                        </div>
                        <div class="flex justify-end" style="width: 20%;">
                            <button id="school_change"class="bg-slate-200" style="border-radius: 2px;background-color: rgb(210, 220, 233);padding: 5px;">修改</button>
                        </div>
                    </div>
                </div>
                <!-- 個人介紹 -->
                <div class="w-full flex flex-col">
                    <p class="font-mono text-2xl" style="font-weight: 700;opacity: 0.6;">個人簡介</p>
                    <div class="flex" style="padding-left:10px;">
                        <div style="width: 80%;">
                            <!-- <p type="text" style="border: 2px rgb(51, 55, 59) solid;" name="" id="" value="尚無資訊"> -->
                            <p id="introduce">尚無資料</p>
                        </div>
                        <div class="flex justify-end" style="width: 20%;">
                            <button id="introduce_change"class="bg-slate-200" style="border-radius: 2px;background-color: rgb(210, 220, 233);padding: 5px;">修改</button>
                        </div>
                    </div>
                </div>
            </div>

            <!-- 題目 -->
            <div id="problem"class="containter flex flex-col  middel page_changhe animationStop animationDiralternateRe left-150" style="width: 500px; margin:0px;height: 600px;justify-content: space-between;">
                <div id="problem_list" style="display: flex;flex-direction: column;gap:10px;">
                    
                </div>
                <div style="display: flex;gap: 5px;justify-content: center">
                    <button>&lt;&lt;</button>
                    <button>&lt;</button>
                    <div style="border: 2px gray solid;border-radius: 5px;">
                        1
                    </div>
                    <button>&gt;</button>
                    <button>&gt;&gt;</button>
                </div>
            </div>

        </div>

        <!-- 修改介面--文字-->
        <div id="change_interface" class="hidden containter flex flex-col justify-center middel"style=" gap: 10px;z-index: 5;width:500px;">
            <p id="change_main_title"class="font-mono text-2xl" style="text-align: center;">main title</p>
            <p id="change_subtitle"class="font-mono text-1xl" style="text-align: center;">second title</p>
            <hr>
            <p id="input_indecate" class="font-mono text-1xl">input indecate</p>
            <input id="new" type="text" name="" id="">
            <p class="font-mono text-1xl">password</p>
            <input type="text" name="" id="">
            <div class="flex justify-end" style="gap:20px">
                <input type="button" value="取消" onclick="allHidden()"style="padding: 5px 10px;background-color: rgb(255, 88, 88); border-radius: 10px; color: rgb(236, 228, 228);">
                <input type="button" value="確認" style="padding: 5px 10px;background-color: rgb(22, 114, 22); border-radius: 10px; color: rgb(236, 228, 228);">
            </div>
        </div>

        <!-- 修改介面-- 圖片 -->
        <div id="change_img"class=" containter flex flex-col justify-center middel hidden"style=" gap: 10px;z-index: 5;width:300px;">   
            <div class="bg-slate-200 rounded-full mx-auto p-1" style="height: 15vw; width: 15vw;">
                <img id="img_show" class="rounded-full"style="object-fit: cover;height: inherit;width:inherit;overflow:hidden;">
            </div>
            <div class="flex justify-end" style="gap:20px">
                <input type="button" value="取消" onclick="allHidden()"style="padding: 5px 10px;background-color: rgb(255, 88, 88); border-radius: 10px; color: rgb(236, 228, 228);">
                <input type="button" value="確認" style="padding: 5px 10px;background-color: rgb(22, 114, 22); border-radius: 10px; color: rgb(236, 228, 228);">
            </div>  
        </div>

        <!-- 選擇修改模式 -->
        <div id="chose"class="hidden containter flex justify-center middel"style="padding :15px; gap: 10px;z-index: 2;width:500px;">
            <div class="shadow-sm border-2 bg-gray-50" style="height: 10vw;width: 45%;justify-content: center;align-items: center;display: flex;">
                <p class="font-mono text-1xl">改變圖片</p>
                <label style="height: 10vw;width: inherit; position: absolute" for="input_file">
                    <input type="file" id="input_file" style="position: absolute; height: 1px; width: 1px;">
                </label>
            </div>
            <div id="name_change" class="shadow-sm border-2 bg-gray-50" style="height: 10vw;width: 45%;justify-content: center;align-items: center;display: flex;">                
                <p  class="font-mono text-1xl">改變名稱</p>
            </div>
        </div>
        
        <div id="cover"class="hidden all_page_cover"></div>

        <script src="/static/js/profile.js"></script>
    </body>
</html>

